* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* ===== NAVBAR ===== */

.navbar {
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbar-logo a {
  text-decoration: none;
  color: black;
}

.navbar-center {
  display: flex;
  gap: 25px;
}

.navbar-center a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-center a:hover {
  color: #007bff;
}

.profile-menu {
  position: relative;
}

.profile-icon-btn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  background: #f1f1f1;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  width: 180px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.logout-btn {
  color: red;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: #1a1a19;
}

.hero button {
  background-color: rgb(255, 145, 0);
  margin-top: 20px;
  padding: 10px 20px;
}



.about,
.contact {
    background: #222;
    color: #ddd;
  padding: 50px;
  text-align: center;
}

.contact form {
      color: #ddd;
  max-width: 500px;
  margin: auto;
}

.contact input,
.contact textarea {
    color: #ddd;
width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}